


.spinner{
    width: 20px;
    height: 20px;
    border: 1px solid coral;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}